In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf

2023-05-04 13:36:13.898693: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-05-04 13:36:14.035503: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-05-04 13:36:14.036466: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-05-04 13:36:14.865003: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [2]:
test_customers = pd.read_csv('data/test_customers.csv')
test_locations = pd.read_csv('data/test_locations.csv')

train_customers = pd.read_csv('data/train_customers.csv')
train_locations = pd.read_csv('data/train_locations.csv')

orders = pd.read_csv('data/orders.csv')
vendors = pd.read_csv('data/vendors.csv')

/tmp/ipykernel_4891/3811830009.py:7: DtypeWarning: Columns (15,16,18,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  orders = pd.read_csv('data/orders.csv')

In [3]:
print('train_customers shape: ', train_customers.shape)
print('test_customers shape: ', test_customers.shape)
train_customers.head()

train_customers shape:  (34674, 8)
test_customers shape:  (9768, 8)

,akeed_customer_id,gender,dob,status,verified,language,created_at,updated_at
0,TCHWPBT,Male,NaN,1,1,EN,2018-02-07 19:16:23,2018-02-07 19:16:23
1,ZGFSYCZ,Male,NaN,1,1,EN,2018-02-09 12:04:42,2018-02-09 12:04:41
2,S2ALZFL,Male,NaN,0,1,EN,2018-03-14 18:31:43,2018-03-14 18:31:42
3,952DBJQ,Male,NaN,1,1,EN,2018-03-15 19:47:07,2018-03-15 19:47:07
4,1IX6FXS,Male,NaN,1,1,EN,2018-03-15 19:57:01,2018-03-15 19:57:01

In [4]:
print('train_locations shape: ', train_locations.shape)
print('test_locations shape: ', test_locations.shape)
train_locations.head()

train_locations shape:  (59503, 5)
test_locations shape:  (16720, 5)

  customer_id  location_number location_type  latitude  longitude
0     02SFNJH                0           NaN  1.682392 -78.789737
1     02SFNJH                1           NaN  1.679137   0.766823
2     02SFNJH                2           NaN -0.498648   0.661241
3     RU43CXC                0          Home  0.100853   0.438165
4     BDFBPRD                0           NaN  2.523125   0.733464

In [5]:
print('orders shape: ', orders.shape)
orders.head()

orders shape:  (135303, 26)

,akeed_order_id,customer_id,item_count,grand_total,payment_mode,promo_code,vendor_discount_amount,promo_code_discount_percentage,is_favorite,is_rated,...,driver_accepted_time,ready_for_pickup_time,picked_up_time,delivered_time,delivery_date,vendor_id,created_at,LOCATION_NUMBER,LOCATION_TYPE,CID X LOC_NUM X VENDOR
0,163238.0,92PEE24,1.0,7.6,2,NaN,0.0,NaN,NaN,No,...,NaN,NaN,NaN,NaN,2019-07-31 05:30:00,105,2019-08-01 05:30:16,0,NaN,92PEE24 X 0 X 105
1,163240.0,QS68UD8,1.0,8.7,1,NaN,0.0,NaN,NaN,No,...,NaN,NaN,NaN,NaN,2019-07-31 05:30:00,294,2019-08-01 05:31:10,0,Work,QS68UD8 X 0 X 294
2,163241.0,MB7VY5F,2.0,14.4,1,NaN,0.0,NaN,NaN,No,...,NaN,NaN,NaN,NaN,2019-07-31 05:30:00,83,2019-08-01 05:31:33,0,NaN,MB7VY5F X 0 X 83
3,163244.0,KDJ951Y,1.0,7.1,1,NaN,0.0,NaN,NaN,No,...,NaN,NaN,NaN,NaN,2019-07-31 05:30:00,90,2019-08-01 05:34:54,0,Home,KDJ951Y X 0 X 90
4,163245.0,BAL0RVT,4.0,27.2,1,NaN,0.0,NaN,NaN,No,...,NaN,NaN,NaN,NaN,2019-07-31 05:30:00,83,2019-08-01 05:35:51,0,Work,BAL0RVT X 0 X 83

In [6]:
print('vendors shape: ', vendors.shape)
vendors.head()

vendors shape:  (100, 59)

,id,authentication_id,latitude,longitude,vendor_category_en,vendor_category_id,delivery_charge,serving_distance,is_open,OpeningTime,...,open_close_flags,vendor_tag,vendor_tag_name,one_click_vendor,country_id,city_id,created_at,updated_at,device_type,display_orders
0,4,118597.0,-0.588596,0.754434,Restaurants,2.0,0.0,6.0,1.0,11:00AM-11:30PM,...,1.0,"2,4,5,8,91,22,12,24,16,23","Arabic,Breakfast,Burgers,Desserts,Free Deliver...",Y,1.0,1.0,2018-01-30 14:42:04,2020-04-07 15:12:43,3,1
1,13,118608.0,-0.471654,0.744470,Restaurants,2.0,0.7,5.0,1.0,08:30AM-10:30PM,...,1.0,"4,41,51,34,27,15,24,16,28","Breakfast,Cakes,Crepes,Italian,Pasta,Pizzas,Sa...",Y,1.0,1.0,2018-05-03 12:32:06,2020-04-05 20:46:03,3,1
2,20,118616.0,-0.407527,0.643681,Restaurants,2.0,0.0,8.0,1.0,08:00AM-10:45PM,...,1.0,"4,8,91,10","Breakfast,Desserts,Free Delivery,Indian",Y,1.0,1.0,2018-05-04 22:28:22,2020-04-07 16:35:55,3,1
3,23,118619.0,-0.585385,0.753811,Restaurants,2.0,0.0,5.0,1.0,10:59AM-10:30PM,...,1.0,"5,8,30,24","Burgers,Desserts,Fries,Salads",Y,1.0,1.0,2018-05-06 19:20:48,2020-04-02 00:56:17,3,1
4,28,118624.0,0.480602,0.552850,Restaurants,2.0,0.7,15.0,1.0,11:00AM-11:45PM,...,1.0,5,Burgers,Y,1.0,1.0,2018-05-17 22:12:38,2020-04-05 15:57:41,3,1

In [7]:
# build a recommendation system

# merge train_customers(akeed_customer_id) and train_locations(customer_id)
train_customers_locations = pd.merge(train_customers, train_locations, left_on='akeed_customer_id', right_on='customer_id', how='inner')
print('train_customers_locations shape: ', train_customers_locations.shape)
train_customers_locations.head()

train_customers_locations shape:  (58213, 13)

,akeed_customer_id,gender,dob,status,verified,language,created_at,updated_at,customer_id,location_number,location_type,latitude,longitude
0,TCHWPBT,Male,NaN,1,1,EN,2018-02-07 19:16:23,2018-02-07 19:16:23,TCHWPBT,0,Work,-96.407538,-67.197291
1,TCHWPBT,Male,NaN,1,1,EN,2018-02-07 19:16:23,2018-02-07 19:16:23,TCHWPBT,1,Home,-96.645619,-67.169154
2,TCHWPBT,Male,NaN,1,1,EN,2018-02-07 19:16:23,2018-02-07 19:16:23,TCHWPBT,2,NaN,-0.128673,-78.575702
3,ZGFSYCZ,Male,NaN,1,1,EN,2018-02-09 12:04:42,2018-02-09 12:04:41,ZGFSYCZ,0,Home,-0.175558,-78.570161
4,ZGFSYCZ,Male,NaN,1,1,EN,2018-02-09 12:04:42,2018-02-09 12:04:41,ZGFSYCZ,1,Home,0.191105,-78.613494

In [8]:
# merge train_customers_locations(akeed_customer_id) and orders(customer_id)
train_customers_locations_orders = pd.merge(train_customers_locations, orders, left_on='akeed_customer_id', right_on='customer_id', how='inner')
print('train_customers_locations_orders shape: ', train_customers_locations_orders.shape)
train_customers_locations_orders.head()

train_customers_locations_orders shape:  (385805, 39)

,akeed_customer_id,gender,dob,status,verified,language,created_at_x,updated_at,customer_id_x,location_number,...,driver_accepted_time,ready_for_pickup_time,picked_up_time,delivered_time,delivery_date,vendor_id,created_at_y,LOCATION_NUMBER,LOCATION_TYPE,CID X LOC_NUM X VENDOR
0,TCHWPBT,Male,NaN,1,1,EN,2018-02-07 19:16:23,2018-02-07 19:16:23,TCHWPBT,0,...,NaN,NaN,NaN,NaN,2019-08-14 05:30:00,237,2019-08-14 17:16:10,0,Work,TCHWPBT X 0 X 237
1,TCHWPBT,Male,NaN,1,1,EN,2018-02-07 19:16:23,2018-02-07 19:16:23,TCHWPBT,0,...,NaN,NaN,NaN,NaN,NaN,113,2019-09-23 01:05:10,2,NaN,TCHWPBT X 2 X 113
2,TCHWPBT,Male,NaN,1,1,EN,2018-02-07 19:16:23,2018-02-07 19:16:23,TCHWPBT,1,...,NaN,NaN,NaN,NaN,2019-08-14 05:30:00,237,2019-08-14 17:16:10,0,Work,TCHWPBT X 0 X 237
3,TCHWPBT,Male,NaN,1,1,EN,2018-02-07 19:16:23,2018-02-07 19:16:23,TCHWPBT,1,...,NaN,NaN,NaN,NaN,NaN,113,2019-09-23 01:05:10,2,NaN,TCHWPBT X 2 X 113
4,TCHWPBT,Male,NaN,1,1,EN,2018-02-07 19:16:23,2018-02-07 19:16:23,TCHWPBT,2,...,NaN,NaN,NaN,NaN,2019-08-14 05:30:00,237,2019-08-14 17:16:10,0,Work,TCHWPBT X 0 X 237

In [9]:
# merge train_customers_locations_orders(vendor_id) and vendors(id)
train_customers_locations_orders_vendors = pd.merge(train_customers_locations_orders, vendors, left_on='vendor_id', right_on='id', how='inner')
print('train_customers_locations_orders_vendors shape: ', train_customers_locations_orders_vendors.shape)
train_customers_locations_orders_vendors.head()

train_customers_locations_orders_vendors shape:  (385805, 98)

,akeed_customer_id,gender,dob,status_x,verified_x,language_x,created_at_x,updated_at_x,customer_id_x,location_number,...,open_close_flags,vendor_tag,vendor_tag_name,one_click_vendor,country_id,city_id,created_at,updated_at_y,device_type,display_orders
0,TCHWPBT,Male,NaN,1,1,EN,2018-02-07 19:16:23,2018-02-07 19:16:23,TCHWPBT,0,...,1.0,"1,5,8,57,30,27,24,16","American,Burgers,Desserts,Donuts,Fries,Pasta,S...",Y,1.0,1.0,2019-04-30 16:15:30,2020-04-07 18:45:33,3,1
1,TCHWPBT,Male,NaN,1,1,EN,2018-02-07 19:16:23,2018-02-07 19:16:23,TCHWPBT,1,...,1.0,"1,5,8,57,30,27,24,16","American,Burgers,Desserts,Donuts,Fries,Pasta,S...",Y,1.0,1.0,2019-04-30 16:15:30,2020-04-07 18:45:33,3,1
2,TCHWPBT,Male,NaN,1,1,EN,2018-02-07 19:16:23,2018-02-07 19:16:23,TCHWPBT,2,...,1.0,"1,5,8,57,30,27,24,16","American,Burgers,Desserts,Donuts,Fries,Pasta,S...",Y,1.0,1.0,2019-04-30 16:15:30,2020-04-07 18:45:33,3,1
3,ZMD2BCF,Female,1985.0,1,1,EN,2018-05-14 12:31:07,2018-05-14 12:31:06,ZMD2BCF,0,...,1.0,"1,5,8,57,30,27,24,16","American,Burgers,Desserts,Donuts,Fries,Pasta,S...",Y,1.0,1.0,2019-04-30 16:15:30,2020-04-07 18:45:33,3,1
4,ZMD2BCF,Female,1985.0,1,1,EN,2018-05-14 12:31:07,2018-05-14 12:31:06,ZMD2BCF,1,...,1.0,"1,5,8,57,30,27,24,16","American,Burgers,Desserts,Donuts,Fries,Pasta,S...",Y,1.0,1.0,2019-04-30 16:15:30,2020-04-07 18:45:33,3,1

In [10]:
# same for test data
test_customers_locations = pd.merge(test_customers, test_locations, left_on='akeed_customer_id', right_on='customer_id', how='inner')
print('test_customers_locations shape: ', test_customers_locations.shape)
test_customers_locations.head()

test_customers_locations shape:  (16333, 13)

,akeed_customer_id,gender,dob,status,verified,language,created_at,updated_at,customer_id,location_number,location_type,latitude,longitude
0,ICE2DJP,Male,NaN,1,1,EN,2018-02-07 16:45:36,2018-02-07 16:45:36,ICE2DJP,0,NaN,-96.407538,-67.197291
1,ICE2DJP,Male,NaN,1,1,EN,2018-02-07 16:45:36,2018-02-07 16:45:36,ICE2DJP,1,NaN,0.038654,-78.595477
2,ICE2DJP,Male,NaN,1,1,EN,2018-02-07 16:45:36,2018-02-07 16:45:36,ICE2DJP,2,Other,-95.106078,43.684151
3,ICE2DJP,Male,NaN,1,1,EN,2018-02-07 16:45:36,2018-02-07 16:45:36,ICE2DJP,3,Other,-96.407677,43.557974
4,ICE2DJP,Male,NaN,1,1,EN,2018-02-07 16:45:36,2018-02-07 16:45:36,ICE2DJP,4,Work,204.621247,44.091518

In [11]:
# merge test_customers_locations(akeed_customer_id) and orders(customer_id)
test_customers_locations_orders = pd.merge(test_customers_locations, orders, left_on='akeed_customer_id', right_on='customer_id', how='inner')
print('test_customers_locations_orders shape: ', test_customers_locations_orders.shape)
test_customers_locations_orders.head()

test_customers_locations_orders shape:  (0, 39)

Empty DataFrame
Columns: [akeed_customer_id, gender, dob, status, verified, language, created_at_x, updated_at, customer_id_x, location_number, location_type, latitude, longitude, akeed_order_id, customer_id_y, item_count, grand_total, payment_mode, promo_code, vendor_discount_amount, promo_code_discount_percentage, is_favorite, is_rated, vendor_rating, driver_rating, deliverydistance, preparationtime, delivery_time, order_accepted_time, driver_accepted_time, ready_for_pickup_time, picked_up_time, delivered_time, delivery_date, vendor_id, created_at_y, LOCATION_NUMBER, LOCATION_TYPE, CID X LOC_NUM X VENDOR]
Index: []

[0 rows x 39 columns]